<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= current_user.all_friends.count %>
          個好友
        </div>
        <div class="panel-center panel-body">
          <% @friends.each do |friend| %>
            <div class="friend-item text-center">
              <% if friend.avatar? %>
                <%= image_tag friend.avatar, class: "img-circle", size: "50" %>
              <% else %>
                <img src="http://via.placeholder.com/50x50" class="img-circle">
              <% end %>
              <p class="text-primary inline"><%= friend.name %></p>
              <%= render partial: "shared/friend", locals: { user: friend } %>
              <hr>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= current_user.unconfirm_friends.count %>
          個等待接受好友
        </div>
        <div class="panel-center panel-body">
          <% @unconfirm_friends.each do |friend| %>
            <div class="friend-item text-center">
              <% if friend.avatar? %>
                <%= image_tag friend.avatar, class: "img-circle", size: "50" %>
              <% else %>
                <img src="http://via.placeholder.com/50x50" class="img-circle">
              <% end %>
              <p class="text-primary inline"><%= friend.name %></p>
              <%= render partial: "shared/friend", locals: { user: friend } %>
              <hr>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= current_user.request_friends.count %>
          個好友請求
        </div>
        <div class="panel-center panel-body">
          <% @request_friends.each do |friend| %>
            <div class="friend-item text-center">
              <% if friend.avatar? %>
                <%= image_tag friend.avatar, class: "img-circle", size: "50" %>
              <% else %>
                <img src="http://via.placeholder.com/50x50" class="img-circle">
              <% end %>
              <p class="text-primary inline"><%= friend.name %></p>
              <%= link_to "接受好友邀請", confirm_friendship_path(current_user, friend), class: "btn btn-primary", method: :post %>
              <%= link_to "拒絕好友邀請", reject_friendship_path(current_user, friend), class: "btn btn-danger", method: :delete %>
              <hr>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>